/* ---------------- General Selectors ---------------- */
body {
  font-family: "Montserrat";
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

/* ---------------- Nav Bar ---------------- */
.color-section {
  background-color: #ff4c68;
  color: #ffffff;
}

.white-section {
  background-color: #ffffff;
}

/* ---------------- Nav Bar ---------------- */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 2.5rem;
}

.nav-item {
  margin: 0 30px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* ---------------- Title ---------------- */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* ---------------- Download buttons ---------------- */
.btn-download {
  margin: 5% 3% 5% 0;
}

/* ---------------- Title image ---------------- */
.title-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.iphone {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 23%;
}

/* ---------------- Features ---------------- */
#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icon-features {
  color: #ef8172;
  font-size: 3.5rem;
}

.icon-features:hover {
  color: #ff4c68;
}

.title-features {
  font-weight: 900;
  font-size: 1.5rem;
  margin: 20px 0;
}

.text-features {
  color: #8f8f8f;
}

/* ---------------- Testimonials ---------------- */
#testimonials {
  background-color: #ef8172;
}

.text-testimonial {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.img-testimonial {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* ---------------- Press ---------------- */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.img-press {
  width: 10%;
  margin: 20px 20px 50px;
}

/* ---------------- Pricing ---------------- */
#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

.pricing-text {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

/* ---------------- Footer ---------------- */
.footer-text {
  color: #8f8f8f;
}

.footer-icon {
  margin: 2% 1%;
}

/* ---------------- Media ---------------- */
@media (max-width: 991px) {
  .iphone {
    transform: rotate(0);
    position: static;
    width: 65%
  }

  #title {
    text-align: center;
  }
}
